<div class="grid">
  <div class="col-12">

    <h2 class="text-primary text-3xl">Iniciar sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()">

      <div class="col-sm-6 col-md-12">
        <mat-form-field>
          <mat-label for="email">E-mail:</mat-label>
          <input matInput formControlName="email" type="email" id="email" name="email" autocomplete="email" placeholder="email@ejemplo.com" (keydown)="onKeydown($event)" minlength="7"
            maxlength="64" [ngClass]="{
                      'is-invalid': emailControl.invalid && emailControl.touched,
                      'is-valid': emailControl.valid && emailControl.touched
                  }">
          <app-error-helper [control]="emailControl"></app-error-helper>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-md-12">
        <mat-form-field>
          <mat-label for="password">Contraseña:</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" type="password" id="password" name="password" autocomplete="password" placeholder="Contraseña"
            (keydown)="onKeydown($event)" minlength="4" maxlength="20" [ngClass]="{
                      'is-invalid': passwordControl.invalid && passwordControl.touched,
                      'is-valid': passwordControl.valid && passwordControl.touched
                  }">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <app-error-helper [control]="passwordControl"></app-error-helper>
        </mat-form-field>
      </div>

      <div>
        <button type="submit" class="p-2" color="primary" mat-flat-button>
          <mat-icon>login</mat-icon>Ingresar
        </button>
      </div>

      <div>
        <button class="mt-3" mat-raised-button color="primary" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">
          <mat-icon>book</mat-icon>Registrarse
        </button>
      </div>

    </form>

    <ng-container *ngIf="submitted && !loginForm.valid">
      <mat-error class="alert alert-danger d-inline mt-1 mb-0 p-1" role="alert">
        <i class="fa-solid fa-circle-exclamation me-1"></i><small>Completa todos los campos correctamente.</small>
      </mat-error>
    </ng-container>

    <ng-container *ngIf="submitted && (success === false)">
      <mat-error class="alert alert-danger d-inline mt-1 mb-0 p-1" role="alert">
        <i class="fa-solid fa-circle-exclamation me-1"></i><small>Usuario y/o contraseña incorrecta.</small>
      </mat-error>
    </ng-container>

    <ng-container *ngIf="logout">
      <div class="mt-3 text-green-700 font-bold mb-0 p-1">
        <small>Has cerrado sesión correctamente.</small>
      </div>
    </ng-container>

  </div>
</div>