<header>
    <div class="grid">
        <div class="col-12 mb-1">
            <mat-toolbar>
                <!-- <button (click)="drawer.toggle()" mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button> -->
                <span><a href="index.html" class="text-decoration-none">CURSOS™</a></span>
                <button routerLink="/login" mat-icon-button>
                    <mat-icon>login</mat-icon>Login
                </button>
            </mat-toolbar>
        </div>
    </div>
</header>