<header class="toolbar">
    <mat-toolbar>

        <span>
            <a routerLink="" class="text-4xl text-primary no-underline p-1 ml-2">
                <mat-icon class="text-5xl vertical-align-middle pb-3 pr-3">history_edu</mat-icon>
                CURSOS™
            </a>
        </span>

        <span class="spacer"></span>

        <ng-container *ngIf="!usuario">
            <button routerLink="/login" mat-icon-button>
                <mat-icon class="vertical-align-middle mr-1">login</mat-icon>Login
            </button>
        </ng-container>

        <ng-container *ngIf="usuario">
            <span>{{(usuario.rol | uppercase) + ': ' + usuario.email}}</span>
            <button (click)="logout()" mat-icon-button>
                <mat-icon class="vertical-align-middle mr-1">logout</mat-icon>Logout
            </button>
        </ng-container>

    </mat-toolbar>
</header>