<h2 class="text-primary" appFontSize="20">LISTADO DE PROFESORES</h2>

<ng-container *ngIf="loading">
    <app-spinner></app-spinner>
</ng-container>

<div [hidden]="loading">

    <div>
        <button mat-raised-button color="accent" class="ml-3 mb-3" (click)="altaProfesor()">
            <mat-icon>add</mat-icon>Agregar profesor
        </button>
    </div>

    <ng-container *ngIf="!dataSource.data">
        <p class="ml-2 text-red-600">Error al obtener los datos.</p>
    </ng-container>
    <ng-container *ngIf="dataSource?.data?.length == 0">
        <p class="ml-2 text-red-600">No se encontraron profesores.</p>
    </ng-container>

    <mat-form-field class="ml-3 w-auto">
        <mat-label>Filtro</mat-label>
        <input #input matInput (keyup)="filtrar($event)" placeholder="Apellido/Nombre">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let profesor"><a mat-raised-button class="text-indigo-400" [routerLink]="['/home/profesores/', profesor?.id]">{{profesor.id}}</a>
            </td>
        </ng-container>
        <ng-container matColumnDef="apellidoNombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido y nombre </th>
            <td mat-cell *matCellDef="let profesor"> {{profesor | apellidoNombre}} </td>
        </ng-container>
        <ng-container matColumnDef="fechaNacimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de nacimiento </th>
            <td mat-cell *matCellDef="let profesor"> {{profesor.fechaNacimiento | date:'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
            <td mat-cell *matCellDef="let profesor"> {{profesor.dni}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
            <td mat-cell *matCellDef="let profesor"> {{profesor.email}} </td>
        </ng-container>
        <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef>
                <span mat-sort-header class="inline-block p-1">Password</span>
                <button mat-raised-button color="basic" class="p-0" (click)="show = !show">
                    <mat-icon class="mx-0 my-0">{{show ? "visibility": "visibility_off"}}</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let profesor"> {{profesor.password | password:show}} </td>
        </ng-container>
        <ng-container matColumnDef="cursos">
            <th mat-header-cell *matHeaderCellDef> Cursos </th>
            <td mat-cell *matCellDef="let profesor">
                <ul *ngFor="let curso of profesor.cursos">
                    <li>
                        <a mat-raised-button class="text-indigo-400" [routerLink]="['/home/cursos/', curso?.id]">{{curso?.id + " - " + curso?.materia}}</a>
                    </li>
                </ul>
            </td>
        </ng-container>
        <ng-container matColumnDef="modificar">
            <th mat-header-cell *matHeaderCellDef> Modificar </th>
            <td mat-cell *matCellDef="let profesor">
                <button mat-raised-button color="primary" (click)="modificarProfesor(profesor)">
                    <mat-icon>edit</mat-icon>Modificar
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let profesor">
                <button mat-raised-button color="warn" (click)="openDialog(profesor)">
                    <mat-icon>delete</mat-icon>Eliminar
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="12" class="text-left pt-3 pl-3 font-medium">No hubo resultados para "{{input.value}}".</td>
        </tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>