<button mat-raised-button color="primary" class="ml-3 mt-1 mb-3"
    (click)="volver()"><mat-icon>keyboard_return</mat-icon>Volver</button>

<ng-container *ngIf="loading">
    <app-spinner></app-spinner>
</ng-container>

<div [hidden]="loading">

    <h3 class="ml-3 mt-3 font-bold text-lg">Alumno</h3>
    <mat-list *ngIf="alumno">
        <mat-list-item>
            <span matListItemTitle>ID: </span>
            <span matListItemLine>{{alumno.id}}</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Nombre: </span>
            <span matListItemLine>{{alumno.nombre}}</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Apellido: </span>
            <span matListItemLine>{{alumno.apellido}}</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Fecha de nacimiento: </span>
            <span matListItemLine>{{alumno.fechaNacimiento | date:'dd/MM/yyyy'}}</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>DNI: </span>
            <span matListItemLine>{{alumno.dni}}</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Provincia: </span>
            <span matListItemLine>{{alumno.provincia}}</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Localidad: </span>
            <span matListItemLine>{{alumno.localidad}}</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Calle: </span>
            <span matListItemLine>{{alumno.calle}}</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Email: </span>
            <span matListItemLine>{{alumno.email}}</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Password: </span>
            <span matListItemLine>{{alumno.password}}</span>
        </mat-list-item>
    </mat-list>

</div>