<h2 class="text-primary" appFontSize="20">LISTADO DE INSCRIPCIONES</h2>

<ng-container *ngIf="loading">
    <app-spinner></app-spinner>
</ng-container>

<ng-container *ngIf="!loading">

    <div>
        <button mat-raised-button color="accent" class="ml-3 mb-3" (click)="altaInscripcion()">
            <mat-icon>add</mat-icon>Agregar inscripción
        </button>
    </div>

    <ng-container *ngIf="dataSource?.data?.length == 0">
        <p class="ml-1 text-red-600">Se ha producido un error al obtener los datos.</p>
    </ng-container>

    <mat-form-field class="ml-3 w-auto">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="filtrar($event)" placeholder="Materia" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let inscripcion"> {{inscripcion.id}} </td>
        </ng-container>
        <ng-container matColumnDef="curso">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Curso </th>
            <td mat-cell *matCellDef="let inscripcion">
                <a [routerLink]="['/inscripciones/', inscripcion.idCurso]">{{inscripcion.idCurso + " - " +
                    inscripcion.curso?.materia}}</a>
            </td>
        </ng-container>
        <ng-container matColumnDef="alumno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Alumno </th>
            <td mat-cell *matCellDef="let inscripcion">
                <a [routerLink]="['/profesores/', inscripcion.idAlumno]">{{inscripcion.idAlumno + " - " +
                    inscripcion.alumno?.apellido + ", " + inscripcion.alumno?.nombre}}</a>
            </td>
        </ng-container>
        <ng-container matColumnDef="modificar">
            <th mat-header-cell *matHeaderCellDef> Modificar </th>
            <td mat-cell *matCellDef="let inscripcion">
                <button mat-raised-button color="primary">
                    <mat-icon>edit</mat-icon>Modificar
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let inscripcion">
                <button mat-raised-button color="warn" (click)="eliminarInscripcion(inscripcion)">
                    <mat-icon>delete</mat-icon>Eliminar
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</ng-container>