<mat-drawer-container class="menu">
    <mat-drawer #drawer mode="side" opened>
        <h3 appFontSize="20" class="text-indigo-500 font-bold">MENU</h3>
        <ul>
            <li>
                <button mat-raised-button color="primary" routerLink="/home/usuarios" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>group</mat-icon>Lista de
                    Usuarios</button>
            </li>
            <li>
                <button mat-raised-button color="primary" routerLink="/home/alumnos" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>school</mat-icon>Lista de
                    Alumnos</button>
            </li>
            <li>
                <button mat-raised-button color="primary" routerLink="/home/profesores" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>local_library</mat-icon>Lista de
                    Profesores</button>
            </li>
            <li>
                <button mat-raised-button color="primary" routerLink="/home/cursos" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>menu_book</mat-icon>Lista de
                    Cursos</button>
            </li>
            <li>
                <button mat-raised-button color="primary" routerLink="/home/inscripciones" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>book</mat-icon>Lista de
                    Inscripciones</button>
            </li>
        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <button (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <app-main></app-main>
    </mat-drawer-content>
</mat-drawer-container>