<mat-drawer-container class="menu">
    <mat-drawer #drawer mode="side" opened>
        <h3 appFontSize="20" class="text-info">MENU</h3>
        <ul>
            <li>
                <button mat-raised-button color="primary" routerLink="/usuarios" routerLinkActive="active"
                    ariaCurrentWhenActive="page"><mat-icon>group</mat-icon>Lista de Usuarios</button>
            </li>
            <li>
                <button mat-raised-button color="primary" routerLink="/alumnos" routerLinkActive="active"
                    ariaCurrentWhenActive="page"><mat-icon>school</mat-icon>Lista de Alumnos</button>
            </li>
            <li>
                <button mat-raised-button color="primary" routerLink="/profesores" routerLinkActive="active"
                    ariaCurrentWhenActive="page"><mat-icon>local_library</mat-icon>Lista de Profesores</button>
            </li>
            <li>
                <button mat-raised-button color="primary" routerLink="/cursos" routerLinkActive="active"
                    ariaCurrentWhenActive="page"><mat-icon>menu_book</mat-icon>Lista de Cursos</button>
            </li>
            <li>
                <button mat-raised-button color="primary" routerLink="/inscripciones" routerLinkActive="active"
                    ariaCurrentWhenActive="page"><mat-icon>book</mat-icon>Lista de Inscripciones</button>
            </li>
        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <button (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <app-main></app-main>
    </mat-drawer-content>
</mat-drawer-container>