<h2 mat-dialog-title class="text-primary">{{profesorId ? 'Editar profesor' : 'Registrar profesor'}}</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="formulario">

        <div *ngIf="profesorId" class="grid mb-3">
            <div class="col-12">
                <label for="id">ID:</label> {{profesorId}}
            </div>
        </div>

        <div class="grid mb-3">
            <div class="col-xs-6 col-sm-6">
                <mat-form-field>
                    <mat-label for="nombre">Nombre:</mat-label>
                    <input matInput formControlName="nombreControl" type="text" id="nombre" autocomplete="given-name" required placeholder="Nombre" minlength="2" maxlength="20"
                        [ngClass]="formulario.get('nombreControl')?.invalid && formulario.get('nombreControl')?.touched ? 'text-danger' : ''">
                    <app-error-helper [control]="$any(formulario.controls['nombreControl'])"></app-error-helper>
                </mat-form-field>
            </div>

            <div class="col-xs-6 col-sm-6 ml-3">
                <mat-form-field>
                    <mat-label for="apellido">Apellido:</mat-label>
                    <input matInput formControlName="apellidoControl" type="text" id="apellido" autocomplete="family-name" required placeholder="Apellido" minlength="2" maxlength="20"
                        [ngClass]="formulario.get('apellidoControl')?.invalid && formulario.get('apellidoControl')?.touched ? 'text-danger' : ''">
                    <app-error-helper [control]="$any(formulario.controls['apellidoControl'])"></app-error-helper>
                </mat-form-field>
            </div>
        </div>

        <div class="grid mb-3">
            <div class="col-sm-6 col-md-12">
                <mat-form-field appearance="fill">
                    <mat-label for="fechaNacimiento">Fecha de nacimiento:</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechaNacimientoControl" id="fechaNacimiento" autocomplete="bday" required minlength="9" maxlength="10"
                        [ngClass]="formulario.get('fechaNacimientoControl')?.invalid && formulario.get('fechaNacimientoControl')?.touched ? 'text-danger' : ''">
                    <mat-hint>D/M/AAAA</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="grid mb-3">
            <div class="col-sm-6 col-md-12">
                <mat-form-field>
                    <mat-label for="dni">DNI:</mat-label>
                    <input matInput formControlName="dniControl" type="text" id="dni" inputmode="numeric" required placeholder="DNI" minlength="6" maxlength="10"
                        [ngClass]="formulario.get('dniControl')?.invalid && formulario.get('dniControl')?.touched ? 'text-danger' : ''">
                    <app-error-helper [control]="$any(formulario.controls['dniControl'])"></app-error-helper>
                </mat-form-field>
            </div>
        </div>

        <div class="grid mb-3">
            <div class="col-12">
                <mat-divider></mat-divider>
            </div>
        </div>

        <div class="grid mb-3">
            <div class="col-sm-6 col-md-12">
                <mat-form-field>
                    <mat-label for="email">E-mail:</mat-label>
                    <input matInput formControlName="emailControl" type="email" id="email" autocomplete="email" required placeholder="email@ejemplo.com" minlength="7" maxlength="64"
                        [ngClass]="formulario.get('emailControl')?.invalid && formulario.get('emailControl')?.touched ? 'text-danger' : ''">
                    <app-error-helper [control]="$any(formulario.controls['emailControl'])"></app-error-helper>
                </mat-form-field>
            </div>
        </div>

        <div class="grid mb-3">
            <div class="col-sm-6 col-md-6">
                <mat-form-field>
                    <mat-label for="password">Contraseña:</mat-label>
                    <input #input matInput formControlName="passwordControl" type="password" id="password" autocomplete="current-password" required placeholder="Contraseña" minlength="4"
                        maxlength="20" [ngClass]="formulario.get('passwordControl')?.invalid && formulario.get('passwordControl')?.touched ? 'text-danger' : ''">
                    <app-error-helper [control]="$any(formulario.controls['passwordControl'])"></app-error-helper>
                    <mat-hint>La contraseña debe tener entre 4-20 caracteres y debe contener letras y
                        números.</mat-hint>
                    <mat-hint align="end">{{input.value.length}}/20</mat-hint>
                </mat-form-field>
            </div>

            <div class="col-sm-6 col-md-6 ml-3">
                <mat-form-field>
                    <mat-label for="repeatPassword">Repetir contraseña:</mat-label>
                    <input matInput formControlName="repeatPasswordControl" type="password" id="repeatPassword" autocomplete="new-password" required placeholder="Contraseña" minlength="4"
                        maxlength="20" [ngClass]="formulario.get('repeatPasswordControl')?.invalid && formulario.get('repeatPasswordControl')?.touched ? 'text-danger' : ''">
                    <app-error-helper [control]="$any(formulario.controls['repeatPasswordControl'])"></app-error-helper>
                </mat-form-field>
            </div>
        </div>
    </form>

    <div class="grid">
        <div class="col-12">
            <ng-container *ngIf="submitted && !formulario.valid">
                <ng-container *ngIf="formulario?.errors?.['passwordMismatch']">
                    <mat-error class="alert alert-danger d-inline mt-1 mb-0 p-1" role="alert">
                        <i class="fa-solid fa-circle-exclamation me-1"></i><small>Las contraseñas no coinciden.</small>
                    </mat-error>
                </ng-container>
                <p class="text-danger fw-bold mt-1">Completa todos los campos correctamente.</p>
            </ng-container>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close><mat-icon>cancel</mat-icon>Cancelar</button>
    <button mat-button color="primary" (click)="onSubmit()" cdkFocusInitial>
        <mat-icon>how_to_reg</mat-icon>{{profesorId ? 'Guardar cambios' : 'Registrar'}}
    </button>
</mat-dialog-actions>