<ng-container *ngIf="loading">
    <app-spinner></app-spinner>
</ng-container>

<ng-container *ngIf="!loading && formulario">
    <h2 mat-dialog-title class="text-primary">{{cursoId ? 'Editar curso' : 'Registrar curso'}}</h2>

    <mat-dialog-content class="mat-typography">

        <div *ngIf="cursoId" class="grid mb-3">
            <div class="col-12">
                <label for="id">ID:</label> {{cursoId}}
            </div>
        </div>

        <form [formGroup]="formulario">
            <div class="row mb-3">
                <div class="col-12">
                    <mat-form-field>
                        <mat-label for="materia">Materia:</mat-label>
                        <input matInput formControlName="materiaControl" type="text" id="materia" required placeholder="Materia"
                            [ngClass]="formulario.get('materiaControl')?.invalid && formulario.get('materiaControl')?.touched ? 'text-danger' : ''">
                        <app-error-helper [control]="$any(formulario.controls['materiaControl'])"></app-error-helper>
                    </mat-form-field>
                </div>

                <div class="col-12">
                    <mat-form-field appearance="fill">
                        <mat-label for="profesor">Profesor:</mat-label>
                        <mat-select formControlName="profesorControl" id="profesor" [compareWith]="compareFn"
                            [ngClass]="formulario.get('profesorControl')?.invalid && formulario.get('profesorControl')?.touched ? 'text-danger' : ''">
                            <mat-option [value]="null">
                                -Sin asignar-
                            </mat-option>
                            <mat-option *ngFor="let profesor of profesores" [value]="profesor">
                                {{profesor.id + " - " + profesor.apellido + ", " + profesor.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-12">
                <mat-label for="alumnos">Alumnos:</mat-label>
                <ng-container *ngIf="alumnos">
                    <div formArrayName="alumnosControl">
                        <div *ngFor="let alumno of alumnos; let i = index">
                            <mat-checkbox [formControlName]="i">
                                {{alumno.id + " - " + alumno.apellido + ", " + alumno.nombre}}
                            </mat-checkbox>
                        </div>
                    </div>
                </ng-container>
            </div>

        </form>

        <ng-container *ngIf="submitted && !formulario.valid">
            <mat-error class="alert alert-danger d-inline mt-1 mb-0 p-1" role="alert">
                <i class="fa-solid fa-circle-exclamation me-1"></i><small>Completa todos los campos correctamente.</small>
            </mat-error>
        </ng-container>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close><mat-icon>cancel</mat-icon>Cancelar</button>
        <button mat-button color="primary" (click)="onSubmit()" cdkFocusInitial>
            <mat-icon class="me-1">school</mat-icon>{{cursoId ? 'Guardar cambios' : 'Registrar'}}
        </button>
    </mat-dialog-actions>
</ng-container>