<h2 mat-dialog-title class="text-primary">{{alumnoId ? 'Editar alumno' : 'Registrar alumno'}}</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="formulario">

        <div *ngIf="alumnoId" class="grid mb-3">
            <div class="col-12">
                <label for="id">ID:</label> {{alumnoId}}
            </div>
        </div>

        <div class="grid mb-3">
            <div class="col-xs-6 col-sm-6">
                <mat-form-field>
                    <mat-label for="nombre">Nombre:</mat-label>
                    <input matInput formControlName="nombreControl" type="text" id="nombre" autocomplete="given-name" required placeholder="Nombre" minlength="2" maxlength="20" [ngClass]="{
                                'is-invalid': nombreControl.invalid && nombreControl.touched,
                                'is-valid': nombreControl.valid && nombreControl.touched
                            }">
                    <app-error-helper [control]="nombreControl"></app-error-helper>
                </mat-form-field>
            </div>

            <div class="col-xs-6 col-sm-6 ml-3">
                <mat-form-field>
                    <mat-label for="apellido">Apellido:</mat-label>
                    <input matInput formControlName="apellidoControl" type="text" id="apellido" autocomplete="family-name" required placeholder="Apellido" minlength="2" maxlength="20"
                        [ngClass]="{
                                'is-invalid': apellidoControl.invalid && apellidoControl.touched,
                                'is-valid': apellidoControl.valid && apellidoControl.touched
                            }">
                    <app-error-helper [control]="apellidoControl"></app-error-helper>
                </mat-form-field>
            </div>
        </div>

        <div class="grid mb-3">
            <div class="col-sm-6 col-md-12">
                <mat-form-field appearance="fill">
                    <mat-label for="fechaNacimiento">Fecha de nacimiento:</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechaNacimientoControl" id="fechaNacimiento" required autocomplete="bday" minlength="9" maxlength="10"
                        [ngClass]="{
                                'is-invalid': fechaNacimientoControl.invalid && fechaNacimientoControl.touched,
                                'is-valid': fechaNacimientoControl.valid && fechaNacimientoControl.touched
                            }">
                    <mat-hint>D/M/AAAA</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <app-error-helper [control]="fechaNacimientoControl"></app-error-helper>
                </mat-form-field>
            </div>
        </div>

        <div class="grid mb-3">
            <div class="col-sm-6 col-md-12">
                <mat-form-field>
                    <mat-label for="dni">DNI:</mat-label>
                    <input matInput formControlName="dniControl" type="text" id="dni" required inputmode="numeric" placeholder="DNI" minlength="6" maxlength="10" [ngClass]="{
                            'is-invalid': dniControl.invalid && dniControl.touched,
                            'is-valid': dniControl.valid && dniControl.touched
                        }">
                    <app-error-helper [control]="dniControl"></app-error-helper>
                </mat-form-field>
            </div>
        </div>

        <div formGroupName="direccionGroup" class="grid mb-3">
            <div class="col-sm-4 col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label for="provincia">Provincia:</mat-label>
                    <mat-select formControlName="provinciaControl" id="provincia" required aria-label="Provincia">
                        <mat-option *ngFor="let provincia of provinciasList" [value]="provincia">{{provincia}}</mat-option>
                    </mat-select>
                    <app-error-helper [control]="provinciaControl"></app-error-helper>
                </mat-form-field>
            </div>

            <div class="col-sm-4 col-md-4 ml-3">
                <mat-form-field>
                    <mat-label for="localidad">Localidad:</mat-label>
                    <input matInput formControlName="localidadControl" type="text" id="localidad" required autocomplete="address-level2" placeholder="Florida" minlength="4" maxlength="20"
                        [ngClass]="{
                            'is-invalid': localidadControl.invalid && localidadControl.touched,
                            'is-valid': localidadControl.valid && localidadControl.touched
                        }">
                    <app-error-helper [control]="localidadControl"></app-error-helper>
                </mat-form-field>
            </div>

            <div class="col-sm-4 col-md-4 ml-3">
                <mat-form-field>
                    <mat-label for="calle">Calle:</mat-label>
                    <input matInput formControlName="calleControl" type="text" id="calle" required autocomplete="street-address" placeholder="Calle 1234" minlength="4" maxlength="32"
                        [ngClass]="{
                            'is-invalid': calleControl.invalid && calleControl.touched,
                            'is-valid': calleControl.valid && calleControl.touched
                        }">
                    <app-error-helper [control]="calleControl"></app-error-helper>
                </mat-form-field>
            </div>
        </div>

        <div class="grid mb-3">
            <div class="col-12">
                <mat-divider></mat-divider>
            </div>
        </div>

        <div class="grid mb-3">
            <div class="col-sm-6 col-md-12">
                <mat-form-field>
                    <mat-label for="email">E-mail:</mat-label>
                    <input matInput formControlName="emailControl" type="email" id="email" required autocomplete="email" placeholder="email@ejemplo.com" minlength="7" maxlength="64"
                        [ngClass]="{
                            'is-invalid': emailControl.invalid && emailControl.touched,
                            'is-valid': emailControl.valid && emailControl.touched
                        }">
                    <app-error-helper [control]="emailControl"></app-error-helper>
                </mat-form-field>
            </div>
        </div>

        <div class="grid mb-3">
            <div class="col-sm-6 col-md-6">
                <mat-form-field>
                    <mat-label for="password">Contraseña:</mat-label>
                    <input #input matInput formControlName="passwordControl" type="password" id="password" required autocomplete="current-password" placeholder="Contraseña" minlength="4"
                        maxlength="20" [ngClass]="{
                            'is-invalid': passwordControl.invalid && passwordControl.touched,
                            'is-valid': passwordControl.valid && passwordControl.touched
                        }">
                    <app-error-helper [control]="passwordControl"></app-error-helper>
                    <mat-hint>La contraseña debe tener entre 4-20 caracteres y debe contener letras y
                        números.</mat-hint>
                    <mat-hint align="end">{{input.value.length}}/20</mat-hint>
                </mat-form-field>
            </div>

            <div class="col-sm-6 col-md-6 ml-3">
                <mat-form-field>
                    <mat-label for="repeatPassword">Repetir contraseña:</mat-label>
                    <input matInput formControlName="repeatPasswordControl" type="password" id="repeatPassword" required autocomplete="new-password" placeholder="Contraseña" minlength="4"
                        maxlength="20" [ngClass]="{
                            'is-invalid': repeatPasswordControl.invalid && repeatPasswordControl.touched,
                            'is-valid': repeatPasswordControl.valid && repeatPasswordControl.touched
                        }">
                    <app-error-helper [control]="repeatPasswordControl"></app-error-helper>
                </mat-form-field>
            </div>
        </div>

    </form>

    <ng-container *ngIf="submitted && !formulario.valid">
        <ng-container *ngIf="formulario?.errors?.['passwordMismatch']">
            <mat-error class="alert alert-danger d-inline mt-1 mb-0 p-1" role="alert">
                <i class="fa-solid fa-circle-exclamation me-1"></i><small>Las contraseñas no coinciden.</small>
            </mat-error>
        </ng-container>
        <p class="text-red-500 font-bold mt-1">Completa todos los campos correctamente.</p>
    </ng-container>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" (click)="onSubmit()" cdkFocusInitial>
        <mat-icon>how_to_reg</mat-icon>{{alumnoId ? 'Guardar cambios' : 'Registrar'}}
    </button>
</mat-dialog-actions>