/* You can add global styles to this file, and also import other style files */
:root {
    --toolbar-height: 8vh;
    --main-height: 100vh;
    --menu-height: 100vh;
    --footer-height: 3vh;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}